gh
dlv
StoneShard/
Thunar/
autostart/
btop/
caja/
compiz-1/
dconf/
enchant/
evolution/
filezilla/
go/
gtk-3.0/
himalaya/
htop/
mimeapps.list
pulse/
qt5ct/
user-dirs.dirs
user-dirs.locale
vlc/
xed/
xfce4/
zellij/

